POSTGRES_CONTAINER_NAME=live-set-list-pg-migrate
POSTGRES_PORT=15432
POSTGRES_DB=live_statistic
POSTGRES_USER=live_project_owner
POSTGRES_PASSWORD=replace_me_owner
FLYWAY_USER=live_project_flyway
FLYWAY_PASSWORD=replace_me_flyway
