POSTGRES_CONTAINER_NAME=live-set-list-docker
POSTGRES_PORT=15432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_me_owner
APP_DB=live_statistic
APP_OWNER=live_project_owner
APP_OWNER_PASSWORD=replace_me_app_owner
FLYWAY_USER=live_project_flyway
FLYWAY_PASSWORD=replace_me_flyway
APP_RO_USER=live_project_ro
APP_RO_PASSWORD=
APP_SUPER_USER=live_project_super_ro
APP_SUPER_PASSWORD=
TEST_ADMIN_USER=live_project_test_admin
TEST_ADMIN_PASSWORD=
